
<div id="header">
<h1>Welcome to JunkFood - Gaming</h1>
</div>

<h1>What's your JunkFood???</h1>
<h2>What is 'JunkFood'?</h2>
<h2>You know when you love something, some might say, an unhealthy amount?</h2>
<h2>That thing, IS your JunkFood</h2>
<h2>For the founders here at JunkFood, games are arguably our biggest JunkFood.</h2>
<h2>So this is where we will start, with gaming reviews and dive into the platforms and genres.</h2>
<%= button_to 'Enter Here', reviews_path, method: :get %>